/* Smartphones (portrait) */
@media only screen and (max-width: 320px) {
  /* Styles */
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    padding-left: 50px;
}
}

/* iPads (portrait and landscape)  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .nav-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      gap: 350px;
  }
  .logo h4 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    font-style: normal;
    padding-left: 50px;
}
  .hero-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      align-content: flex-start;
      flex-wrap: wrap;
  }
  .hero-texts {
      padding-left: 70px;
  }
  .hero-image {
      padding-left: 70px;
  }
  .girl-wrapper {
    display: flex;
    gap: 30px;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .girl-image {
    padding-left: 70px;
  }
  .girl-texts {
    padding-left: 70px;
  }
  .vocabulary-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 30px;
  }
  .voca-texts {
    padding-left: 50px;
  }
  .voca-image {
    padding-left: 50px;
  }
}

/* Desktops and laptops  */
@media only screen and (min-width: 1224px) {
  /* Styles */
  
}