@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.section-wrapper{
    width: 100%;
    overflow: hidden;
}
.logo h4 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    font-style: normal;
    cursor: pointer;
}

.logo h4:hover {
    color: rgba(99, 155, 109, 1);
    transition: 0.2s ease-in;
}

nav a {
    text-decoration: none;
    padding: 15px;
    color: black;
}

nav ul li {
    list-style-type: none;
}

ul.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}


nav a:hover {
    color: rgba(99, 155, 109, 1);
    transition: 0.2s ease-in;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 110px;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: none;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.header {
    padding: 25px;
    background-color: rgba(246, 245, 244, 1);
}

.hero-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.hero-texts h4 {
    color: rgba(99, 155, 109, 1);
    margin-bottom: 20px;
}

.hero-texts h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 35px;
}
.hero-texts h3 {
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 35px;
}

button.hero-button {
    color:rgba(43, 120, 139, 1);
    background: rgba(195, 220, 227, 1);
    border: 1px solid rgba(195, 220, 227, 1);
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    transition: 0.2s ease-in;
}

button.hero-button:hover {
    color: rgba(195, 220, 227, 1);
    background: rgba(43, 120, 139, 1);
}

.hero {
        padding-top: 70px;
        padding-bottom: 140px;
        background-color: rgba(246, 245, 244, 1);
}

.girl-image img {
    width: 580px;
    height: 445px;
    padding-top: 50px;
}

.girl-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.girl-texts h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 35px;
}

.girl-texts h3 {
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 35px;
}

.girl-texts h4 {
    color: rgba(99, 155, 109, 1);
    margin-bottom: 20px;
}

button.mini-games-button {
    color: rgba(43, 120, 139, 1);
    background: rgba(195, 220, 227, 1);
    border: 1px solid rgba(195, 220, 227, 1);
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    transition: 0.2s ease-in;
}

button.mini-games-button:hover {
    color: rgba(195, 220, 227, 1);
    background: rgba(43, 120, 139, 1);
}

.girl-reading {
    padding-bottom: 140px;
}

.voca-image img {
    width: 580px;
    height: 474px;
}

.vocabulary-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.voca-texts h4 {
    color: rgba(99, 155, 109, 1);
    margin-bottom: 20px;
}

.voca-texts h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 35px;
}

.voca-texts h3 {
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 35px;
}

button.textbook {
    color: rgba(43, 120, 139, 1);
    background: rgba(195, 220, 227, 1);
    border: 1px solid rgba(195, 220, 227, 1);
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    transition: 0.2s ease-in;
}

button.textbook:hover {
    color: rgba(195, 220, 227, 1);
    background: rgba(43, 120, 139, 1);
}

.vocabulary {
    padding-bottom: 100px;
    background-color: rgba(246, 245, 244, 1);
}

.progress-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    align-items: center;
    padding-top: 70px;
}

.progress-img img {
    width: 700px;
}

.progress-text h4 {
    color: rgba(99, 155, 109, 1);
    margin-bottom: 20px;
}

.progress-text h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 35px;
}

.progress-text h3 {
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 35px;
}

button.statics-button {
    color: rgba(43, 120, 139, 1);
    background: rgba(195, 220, 227, 1);
    border: 1px solid rgba(195, 220, 227, 1);
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    transition: 0.2s ease-in;
}

button.statics-button:hover {
    color: rgba(195, 220, 227, 1);
    background: rgba(43, 120, 139, 1);
}

.progress {
    padding-bottom: 100px;
}